body {
    background-image: url("../images/blind-robot.jpg");
    background-repeat: no-repeat;
    background-color: #f7e1b5;
    background-position: center;
    background-size: cover;

}

header {
    height: 10vh;
    text-align: center;
    width: 100%;
    border: 1px solid black;
    display: inline-block;
    font-size: 2rem;


}

aside {
    text-align: center;
    border: 1px solid black;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

aside > p {


    text-align: center;

}

aside * p {
    margin: 5px auto;
    border: 1px solid black;
    text-align: center;
    width: 50%;
    background-color: #5bc0de;
    padding: 20px;
}



main {
    border: 1px solid black;
    display: inline-block;
    height: 100%;
    width: 79%;

}

.card {
    height: 156px;
    width: 150px;
    padding: 2px;
    display: inline-block;



}


.front-card {

    background-color: black;
    background-size: cover;
    height: 156px;
    width: 150px;
    padding: 2px;
    display: inline-block;
    position: absolute;

}

.andy{

    background-image : url("../images/andy.jpg");
}


.cody {

    background-image : url("../images/cody.jpg");
}
.bill {

    background-image : url("../images/bill.jpg");
}
.brett {

     background-image : url("../images/brett.jpg");
 }
.dan {

    background-image : url("../images/dan.jpg");
}
.tj {

    background-image : url("../images/tj.jpg");
}
.scott {

    background-image : url("../images/scott.jpg");
}
.tim-d {

    background-image : url("../images/tim-d.jpg");
}
.tim-h {

    background-image : url("../images/tim-h.jpg");
}

.back-card{
    background-image: url("../images/lfz-card.jpg");
    background-color: black;
    background-size: cover;
    height: 156px;/*100%*/
    width: 150px; /*100%*/
    padding: 2px;
    display: inline-block;
    position: absolute;
}


.modalShadow{
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}


.winModal {
    background-color: #5bc0de;
    color: black;
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;


}
.replayInvite{
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: 30px;
}

.hidden {
    display: none;
}
