body {
    background-image: url("../images/blind-robot.jpg");
    background-repeat: no-repeat;
    background-color: #f7e1b5;
    background-position: center;
    background-size: cover;

}

header {
    height: 10vh;
    text-align: center;
    width: 100%;
    border: 1px solid black;
    display: inline-block;
    font-size: 1.5rem;


}

aside {
    text-align: center;
    border: 1px solid black;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

aside > p {


    text-align: center;

}

aside * p {
    margin: 5px auto;
    border: 1px solid black;
    text-align: center;
    width: 50%;
    background-color: #5bc0de;
    padding: 20px;
}



main {
    border: 1px solid black;
    display: inline-block;
    height: 100%;
    width: 79%;

}

.card {
    background-color: greenyellow;
    height: 180px;
    width: 154px;
    padding: 2px;
    display: inline-block;



}


.front-card {

    background-color: black;
    background-size: cover;
    height: 156px;
    width: 150px;
    padding: 2px;
    display: inline-block;
    position: absolute;

}

.andy{

    background-image : url("../images/andy.jpg");
}


.cody {

    background-image : url("../images/cody.jpg");
}

.back-card{
    background-image: url("../images/lfz-card.jpg");
    background-color: black;
    background-size: cover;
    height: 156px;/*100%*/
    width: 150px; /*100%*/
    padding: 2px;
    display: inline-block;
    position: absolute;
}

.hidden {
    display: none;
}